<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"></meta>
<title>清华八班项目和学习进度收集</title>
<meta name="author" content="caibaojian.com"></meta>
<meta name="copyright"
	content="caibaojian.com/relative-responsive-talbe.html"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
<link rel="stylesheet" href="style.css" />
</head>
<body>
	<div class="table-two">
	<h2>点击姓名即可删除</h2>
		<!-- first table name -->
		<div>
			<table style="table-layout: fixed; word-wrap: break-word;">
				<thead>
					<tr>
						<th style="width: 45px">姓名</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${user}">
						<td><a th:href="@{'delUsers?id='+${user.id}}"
							th:text="${user.name}"></a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</body>
</html>